<!DOCTYPE html>
<!--[if IE 9]>         <html class="no-js lt-ie10" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">

        <title>ProUI - Responsive Bootstrap Admin Template</title>

        <meta name="description" content="ProUI is a Responsive Bootstrap Admin Template created by pixelcave and published on Themeforest.">
        <meta name="author" content="pixelcave">
        <meta name="robots" content="noindex, nofollow">
        <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=0">

        <!-- Icons -->
        <!-- The following icons can be replaced with your own, they are used by desktop and mobile browsers -->
        <link rel="shortcut icon" href="img/favicon.png">
        <link rel="apple-touch-icon" href="img/icon57.png" sizes="57x57">
        <link rel="apple-touch-icon" href="img/icon72.png" sizes="72x72">
        <link rel="apple-touch-icon" href="img/icon76.png" sizes="76x76">
        <link rel="apple-touch-icon" href="img/icon114.png" sizes="114x114">
        <link rel="apple-touch-icon" href="img/icon120.png" sizes="120x120">
        <link rel="apple-touch-icon" href="img/icon144.png" sizes="144x144">
        <link rel="apple-touch-icon" href="img/icon152.png" sizes="152x152">
        <link rel="apple-touch-icon" href="img/icon180.png" sizes="180x180">
        <!-- END Icons -->

        <!-- Stylesheets -->
        <!-- Bootstrap is included in its original form, unaltered -->
        <link rel="stylesheet" href="css/bootstrap.min.css">

        <!-- Related styles of various icon packs and plugins -->
        <link rel="stylesheet" href="css/plugins.css">

        <!-- The main stylesheet of this template. All Bootstrap overwrites are defined in here -->
        <link rel="stylesheet" href="css/main.css">

        <!-- Include a specific file here from css/themes/ folder to alter the default theme of the template -->

        <!-- The themes stylesheet of this template (for using specific theme color in individual elements - must included last) -->
        <link rel="stylesheet" href="css/themes.css">
        <!-- END Stylesheets -->

        <!-- Modernizr (browser feature detection library) -->
        <script src="js/vendor/modernizr.min.js"></script>
    </head>
    <body>
        <!-- Coming Soon Background -->
        <!-- For best results use an image with a resolution of 1280x1280 pixels (prefer a blurred image for smaller file size) -->
        <img src="img/placeholders/backgrounds/coming_soon_full_bg.jpg" alt="Coming Soon Background" class="animation-pulseSlow full-bg">
        <!-- END Coming Soon Background -->

        <!-- Coming Soon -->
        <div class="full-page-container text-center">
            <!-- Title -->
            <h1 class="text-light"><i class="gi gi-flash"></i> ProUI</h1>
            <h2 class="h3 text-light">We are working on it and it is coming soon!</h2>
            <!-- END Title -->

            <!-- Countdown -->
            <div class="full-page-section">
                <!-- Countdown.js (class is initialized in js/pages/readyComingSoon.js), for extra usage examples you can check out https://github.com/hilios/jQuery.countdown -->
                <div class="js-countdown"></div>
            </div>
            <!-- END Countdown -->

            <!-- Subscribe Form -->
            <h2 class="h3 text-light push">Subscribe and we will keep you up to date.</h2>
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <form action="page_ready_coming_soon.html" method="post" class="form-horizontal">
                        <div class="form-group">
                            <div class="col-xs-12">
                                <div class="input-group">
                                    <input type="email" id="subscribe-email" name="subscribe-email" class="form-control" placeholder="Your Email..">
                                    <div class="input-group-btn">
                                        <button type="submit" class="btn btn-primary"><strong>Subscribe</strong></button>
                                    </div>
                                </div>
                                <small class="text-light"><em>Don't worry, we hate spam.</em></small>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!-- END Subscribe Form -->
        </div>
        <!-- END Coming Soon -->

        <!-- jQuery, Bootstrap.js, jQuery plugins and Custom JS code -->
        <script src="js/vendor/jquery.min.js"></script>
        <script src="js/vendor/bootstrap.min.js"></script>
        <script src="js/plugins.js"></script>
        <script src="js/app.js"></script>

        <!-- Load and execute javascript code used only in this page -->
        <script src="js/pages/readyComingSoon.js"></script>
        <script>$(function(){ ComingSoon.init(); });</script>
    </body>
</html>